<form id="userTypeAddForm" action="userTypes/create" method="POST">
    <div class="mb-3">
        <input type="text" class="form-control"
               name="name" id="name"
               aria-describedby="name"
               required
               placeholder="User Type Name">
    </div>
    <div class="mb-3">
        <input type="text" class="form-control" name="description" id="description"
               aria-describedby="description"
               required
               placeholder="User Type description">
    </div>
    <button style="float: right" type="submit" class="btn btn-primary">Submit</button>
</form>