<form id="userTypeUpdateForm" action="userTypes/edit" method="POST">
    <input type="hidden" name="id" id="user_type_id">
    <div class="mb-3">
        <input type="text" class="form-control"
               name="name" id="name"
               aria-describedby="name"
               placeholder="User Type Name">
    </div>
    <div class="mb-3">
        <input type="text" class="form-control" name="description" id="description"
               aria-describedby="description"
               placeholder="User Type description">
    </div>
    <button style="float: right" type="submit" class="btn btn-primary">Submit</button>
</form>