{% extends 'base.html' %}
{% block pageContent %}
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <button style="float: right"
                    id="addBookBtn"
                    class="btn btn-primary"
                    data-toggle="modal"
                    data-target="#addBooksModal">Add Book
            </button>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Title</th>
                        <th>Author</th>
                        <th>Genre</th>
                        <th>Publish Date</th>
                        <th>Publisher</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tfoot>
                    <tr>
                        <th>#</th>
                        <th>Title</th>
                        <th>Author</th>
                        <th>Genre</th>
                        <th>Publish Date</th>
                        <th>Publisher</th>
                        <th>Actions</th>
                    </tr>
                    </tfoot>
                    <tbody>
                    {% for book in books %}
                        <tr>
                            <td>{{ book.id }}</td>
                            <td>{{ book.title }}</td>
                            <td>{{ book.author }}</td>
                            <td>{{ book.genre.name }}</td>
                            <td>{{ book.published_date }}</td>
                            <td>{{ book.publisher }}</td>
                            <td>
                                <a href="" class="btn btn-primary btn-sm">View
                                    Reviews</a>
                                <button class="btn btn-warning btn-sm "
                                        id="updateBookBtn"
                                        data-toggle="modal"
                                        data-target="#updateBooksModal"
                                        data-id="{{ book.id }}">Update Book
                                </button>
                                <button class="btn btn-danger btn-sm "
                                        data-toggle="modal"
                                        data-target="#deleteBooksModal"
                                        data-id="{{ book.id }}">Delete Book
                                </button>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <!-- Add Book Modal-->
    <div class="modal fade" id="addBooksModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Add Book</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body" data-book="">
                    {% include 'books/book_add_form.html' %}
                </div>
            </div>
        </div>
    </div>

    <!-- Update Book Modal-->
    <div class="modal fade" id="updateBooksModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Update Book</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body" data-book="">
                    {% include 'books/book_update_form.html' %}
                </div>
            </div>
        </div>
    </div>

    <!-- Delete Book Modal-->
    <div class="modal fade" id="deleteBooksModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Delete Book</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Are you sure you want to delete this book?</p>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="">Delete</a>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
