{% extends 'base.html' %}
{% block pageContent %}
    <h5>Book Title: {{ book.title }}</h5>
    <h5>Book Author: {{ book.author }}</h5>
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <button style="float: right"
                    class="btn btn-primary"
                    data-toggle="modal"
                    data-target="#addBookReviewModal">Add Review
            </button>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Rating</th>
                        <th>Review</th>
                        <th>User</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tfoot>
                    <tr>
                        <th>#</th>
                        <th>Rating</th>
                        <th>Review</th>
                        <th>User</th>
                        <th>Actions</th>
                    </tr>
                    </tfoot>
                    <tbody>
                    {% for review in reviews %}
                        <tr>
                            <td>{{ loop.index }}</td>
                            <td>{{ review.rating }}</td>
                            <td>{{ review.review }}</td>
                            <td>{{ review.user.username }}</td>
                            <td>
                                {% if current_user.id == review.users_id %}
                                    <button class="btn btn-primary"
                                            data-toggle="modal"
                                            data-target="#editBookReviewModal"
                                            data-id="{{ review.id }}"
                                            data-rating="{{ review.rating }}"
                                            data-review="{{ review.review }}"
                                            data-book_id ="{{ review.books_id }}"
                                            data-user_id="{{ review.user.id }}">
                                        Edit
                                    </button>
                                    <button class="btn btn-danger"
                                            data-toggle="modal"
                                            data-target="#deleteBookReviewModal"
                                            data-id="{{ review.id }}">
                                        Delete
                                    </button>
                                {% else %}
                                    <h6>You can only edit Your Review</h6>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <!-- Add Book Review Modal-->
    <div class="modal fade" id="addBookReviewModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Add Book Review</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body" data-book="">
                    {% include 'reviews/add_review_form.html' %}
                </div>
            </div>
        </div>
    </div>


    <!-- Edit Book Review Modal-->
    <div class="modal fade" id="editBookReviewModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Edit Book Review</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body" data-book="">
                    {% include 'reviews/edit_review_form.html' %}
                </div>
            </div>
        </div>
    </div>

    <!-- Delete Book Review Modal-->
    <div class="modal fade" id="deleteBookReviewModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Delete Book </h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Are you sure you want to delete this review?</p>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="">Delete</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}